body {
    color: white;
    background: rgb(175, 0, 255);
    margin: 0%;
    font-family: "Renogare";
    margin-bottom: 5%;
}

.titulo {
    border-bottom: solid 0.4em rgb(200, 50, 255);
    display: flex;
    justify-content: center;
}

.titulo img {
    height: 2.5em;
    align-self: center;
}

.titulo header {
    padding: 2.5%;
    font-size: 1.8em;
    text-align: center;
    color: white;
}

.chamada {
	background: rgb(135, 0, 230);
	padding: 5%;
	display: flex;
	justify-content: center;
    border-bottom: solid 0.4em rgb(200, 50, 255);
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

.categoria-videos {
    display: flex;
    gap: 5%;
    padding-bottom: 5%;
    justify-content: center;
}

.categoria {
    padding-left: 10%;
    padding-right: 10%
}

.categoria h2 {
    color: white;
    text-align: center;
}

.categoria-videos img {
    opacity: 0.5;
    height: 10%;
}
.categoria-videos img:hover {
    opacity: 1;  
}