body {
    color: white;
    background: rgb(175, 0, 255);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(200, 50, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(200, 50, 255);
}

section {
	background: rgb(135, 0, 230);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}