body {
    color: white;
    background: rgb(175, 0, 255);
    margin: 0px;
    font-family: "Renogare"
}

header {
    border-bottom: solid 2px rgb(200, 50, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(200, 50, 255);
}

section {
	background: rgb(135, 0, 230);
	padding: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
}